﻿@model int

<table class="table table-striped mt-4">
    <thead>
        <tr>
            <td colspan="3">
            <a class="btn btn-outline-success" href="#" onclick="openModal(null)">Přidat přístupové zařízení</a>
            </td>
        </tr>
        <tr>
            <th>Typ</th>
            <th>Popis</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (BP_AttendanceSystem_Lepine.Models.Db.AccessDevice item in ViewBag.AccessDevices) {
            <tr>
                <td>
                    @item.GetAccessType()
                </td>
                <td>@item.Description</td>
                <td style="text-align: right">
                    <a class="btn btn-outline-secondary" href="#" onclick="openModal({fingerprint: '@item.FingerprintData', desc: '@item.Description', id: @item.Id, chipId: '@item.ChipId'})">Upravit</a>
                    <a class="btn btn-outline-danger" href="#" onclick="removeDevice(@item.Id)">Odstranit</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="modal fade" id="addEditADModal" tabindex="-1" aria-labelledby="addEditADModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addEditADModalLabel">--NAME--</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="id" value="" />
                    <div class="mb-3">
                        <label for="desc" class="col-form-label">Popis</label>
                        <input type="text" class="form-control" id="desc">
                    </div>
                    <div class="mb-3">
                        <label for="chipId" class="col-form-label">Čip</label>
                        <input type="text" class="form-control" id="chipId">
                    </div>
                    nebo
                    <div class="mb-3">
                        <label for="fingerprint" class="col-form-label">Data otisku</label>
                        <input type="text" class="form-control" id="fingerprint">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zavřít</button>
                <button type="button" class="btn btn-primary" onclick="saveDevice()">Uložit</button>
            </div>
        </div>
    </div>
</div>
@Html.PartialSectionScripts(
    @<script>
             let myModal = new bootstrap.Modal(document.getElementById('addEditADModal'));
             function openModal(obj) {
                 if (obj === null) {
                     $("#addEditADModalLabel").text("Přidat zařízení");
                 } else {
                     $("#desc").val(obj.desc);
                     $("#fingerprint").val(obj.fingerprint);
                     $("#id").val(obj.id);
                     $("#chipId").val(obj.chipId);
                     $("#addEditADModalLabel").text("Upravit zařízení");
                 }
                 myModal.show();
             }
             function saveDevice() {
                 $.post("/Admin/AccessDevice/Save", {
                     description: $("#desc").val(),
                     userId: @Model,
                     fingerprintId: $("#fingerprint").val(),
                     id: $("#id").val(),
                     chipId: $("#chipId").val()
                 }).then(res => {
                     location.reload();
                     //myModal.hide();
                 }).fail(err => {
                     console.error(err);
                 });
             }
             function removeDevice(id) {
                 $.post("/Admin/AccessDevice/Remove", {
                     id
                 }).then(res => {
                     location.reload();
                 });
             }
    </script>
)
