﻿@{
    ViewBag.Title = "Přihlášení";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - AttendanceSystem Lepine</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BP_AttendanceSystem_Lepine.styles.css" asp-append-version="true" />
</head>
<body>
    @if (ViewBag.Error != null) {
        <div class="alert alert-danger">@ViewBag.Error</div>
    }
    <div class="m-5">
<form method="post">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Heslo</label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Přihlásit se</button>
</form>
    </div>
</body>

</html>