﻿@model BP_AttendanceSystem_Lepine.Models.PageUniversalModel<IEnumerable<BP_AttendanceSystem_Lepine.Models.Db.Device>>

@{
    ViewBag.Title = "DeviceManagement";
}

<h1>Správa zařízení</h1>

<p>
    <a class="btn btn-outline-success" href="#" onclick="openModal(null)">Přidat</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data.First().DeviceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.First().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.First().Uid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Data) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uid)
            </td>
            <td>
                    <a class="btn btn-outline-secondary" href="#" onclick="openModal({name: '@item.DeviceName', desc: '@item.Description', id: @item.Id, uid: '@item.Uid'})">Upravit</a> |
               <a class="btn btn-outline-danger" onclick="removeDevice(@item.Id)" href="#">Smazat</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="modal fade" id="addEditModal" tabindex="-1" aria-labelledby="addEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addEditModalLabel">--NAME--</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="id" value="" />
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Název</label>
                        <input type="text" class="form-control" id="name">
                    </div>
                    <div class="mb-3">
                        <label for="desc" class="col-form-label">Popis</label>
                        <input type="text" class="form-control" id="desc">
                    </div>
                    <div class="mb-3">
                        <label for="uid" class="col-form-label">Unikátní ID zařízení</label>
                        <input type="text" class="form-control" id="uid">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zavřít</button>
                <button type="button" class="btn btn-primary" onclick="saveDevice()">Uložit</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        let myModal = new bootstrap.Modal(document.getElementById('addEditModal'));
        function openModal(obj) {
            if(obj === null) {
                $("#addEditModalLabel").text("Přidat zařízení");
            } else {
                $("#desc").val(obj.desc);
                $("#name").val(obj.name);
                $("#id").val(obj.id);
                $("#uid").val(obj.uid);
                $("#addEditModalLabel").text("Upravit zařízení");
            }
            myModal.show();
        }
        function saveDevice() {
            $.post("./Save", {
                description: $("#desc").val(),
                deviceName: $("#name").val(),
                id: $("#id").val(),
                uid: $("#uid").val()
            }).then(res => {
                console.log(res);
                location.reload();
                //myModal.hide();
            }).fail(err => {
                window.alert(err.responseJSON?.message);
                console.error(err);
            });
        }
        function removeDevice(id) {
            $.post("./Remove", {
                id
            }).then(res => {
                console.log(res);
                location.reload();
            }).fail(err => {
                window.alert(err.responseJSON?.message);
                console.error(err);
            });
        }
    </script>
}
