﻿@model PageUniversalModel<IEnumerable<BP_AttendanceSystem_Lepine.Models.Db.Shift>>

@{
    ViewBag.Title = "EmployeeShifts";
}

@*    <a asp-page="Create">Create New</a>*@

@if (Model.HasMessage()) {
    <div class="alert @Model.Color">
        @Model.Message
    </div>
}

<form method="get">
<div class="row m-4">
    <div class="col-md-3">
<input type="date" name="from" value="@ViewBag.From.Date.ToString("yyyy-MM-dd")" class="form-control" />
    </div>
    <div class="col-md-3">
            <input type="date" name="to" value="@ViewBag.To.Date.ToString("yyyy-MM-dd")" class="form-control" />
    </div>
    <div class="col-md-3">
        <button class="btn btn-outline-primary">Filtrovat</button>
    </div>
    <div class="col-md-3">
         <a asp-action="EmployeeList">Zpět na seznam zaměstnanců</a>
         <br />
         <a asp-action="EmployeeDetail" asp-route-id="@Html.ViewContext.RouteData.Values["id"]">Zpět na detail</a>
    </div>
</div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data.First().User)
            </th>
            <th>
                Datum
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.First().Arrival)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.First().Departure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.First().ArrivalDevice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.First().DepartureDevice)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Data) {
        <tr id="@item.Id">
            <td>
                @item.User?.GetFullName()
            </td>
            <td>
                @item.GetDate()
            </td>
            <td>
                    <span onclick="spanSwitch(this, 'arrival')">@item.GetArrivalTime()</span>
            </td>
            <td>
                    <span onclick="spanSwitch(this, 'departure')">@item.GetDepartureTime()</span>
            </td>
            <td>
                @item.ArrivalDevice?.Description
            </td>
            <td>
                @item.DepartureDevice?.Description
            </td>
        </tr>
}
    </tbody>
</table>

       <div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="toastTimeChange" class="toast align-items-center text-white bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
        <div class="toast-body text-white">

        </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
        </div>

@section Scripts {
    <script>
        window.onload = function() {
        changeTimeToast = new bootstrap.Toast(document.getElementById("toastTimeChange"), { autohide: true });
        }
        function spanSwitch(e, type) {
            e = $(e);
            let txt = e.text();
            let parent = e.parent();
            e.parent().html(`<input class='form-control form-control-sm' onblur='spanReset(this, "${type}")' data-old='${txt}' value='${txt}' />`);

            parent.children("input").focus();
        }

        function spanReset(e, type) {
            e = $(e);
            let txt = e.val();
            let oldVal = e.attr("data-old");
            let ttc = $("#toastTimeChange");
            if (e.attr("data-old") !== txt) {
                let id = e.parent().parent().attr("id");
                //Poslat na server změnu
                $.post("/Admin/Employee/Shifts/Update", { id, type: type, time: txt }, function (data) {
                    ttc.addClass("bg-success");
                    ttc.removeClass("bg-danger");
                    ttc.children("div").children(".toast-body").text(data.message);
                    changeTimeToast.show();
                    e.parent().html(`<span onclick='spanSwitch(this, "${type}")'>${txt}</span>`);
                }).fail(() => {
                    ttc.addClass("bg-danger");
                    ttc.children("div").children(".toast-body").text("Chyba při nastavování směny");
                    ttc.removeClass("bg-success");
                    changeTimeToast.show();
                    txt = oldVal;
                    e.parent().html(`<span onclick='spanSwitch(this, "${type}")'>${txt}</span>`);
                });
            } else {
                e.parent().html(`<span onclick='spanSwitch(this, "${type}")'>${txt}</span>`);
            }

        }
    </script>
}