﻿@model PageUniversalModel<BP_AttendanceSystem_Lepine.Models.Db.User>

@{
    if(Model.Data?.Id != 0) {
        ViewBag.Title = $"Úprava {Model.Data?.GetFullName()}";
    } else {
        ViewBag.Title = "Přidání zaměstnance";
    }
}

<h1>@ViewBag.Title</h1>

@if(Model.HasMessage()) {
    <div class="alert @Model.Color">
        @Model.Message
</div>
}
@if (Model != null) {
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="alert text-danger"></div>
                <input type="hidden" asp-for="Data.Id" />
                <div class="form-group">
                    <label asp-for="Data.FirstName" class="control-label"></label>
                    <input asp-for="Data.FirstName" class="form-control" />
                    <span asp-validationfor="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Data.Surname" class="control-label"></label>
                    <input asp-for="Data.Surname" class="form-control" />
                    <span asp-validationfor="Surname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Data.Email" class="control-label"></label>
                    <input asp-for="Data.Email" class="form-control" />
                    <span asp-validationfor="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Data.Phone" class="control-label"></label>
                    <input asp-for="Data.Phone" class="form-control" />
                    <span asp-validationfor="Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Data.Password" class="control-label"></label>
                    <input asp-for="Data.Password" class="form-control" />
                    <span asp-validationfor="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Data.RoleId" class="control-label"></label>
                    <select asp-for="Data.RoleId" class="form-control" asp-items="ViewBag.Roles"></select>
                    <span asp-validationfor="RoleId" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
} else {
    <div class="alert alert-danger">
        Uživatel nenalezen
    </div>
}
<div>
    <a asp-action="EmployeeList">Zpět na seznam</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
