﻿@model PageUniversalModel<BP_AttendanceSystem_Lepine.Models.Db.User>

@{
    ViewBag.Title = "Detail zaměstnance";
}

<h1>@ViewBag.Title</h1>

<div>
    <hr />
    <div class="row">
        <div class="col-8">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data.Role.RoleName)
        </dd>
    </dl>
        </div>
        <div class="col-4">
            <a asp-action="EmployeeAddEdit" asp-route-id="@Model.Data?.Id">Upravit</a> |
            <a asp-action="EmployeeShifts" asp-route-id="@Model.Data?.Id">Směny</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-12">
        @{
    await Html.RenderPartialAsync("_AccessDeviceAssignmentPartial", Model.Data.Id);
}
    </div>
</div>
