﻿@model PageUniversalModel<IEnumerable<BP_AttendanceSystem_Lepine.Models.Db.User>>

@{
    ViewBag.Title = "Seznam";
}
<p>
    <a class="btn btn-outline-success" asp-action="EmployeeAddEdit">Vytvořit</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data.First().FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.First().Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.First().Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.First().Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.First().Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Data) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @if(item.Role != null) { @Html.DisplayFor(modelItem => item.Role.RoleName )}
            </td>
            <td>
                        <a asp-action="EmployeeAddEdit" asp-route-id="@item.Id">Upravit</a> |
                        <a asp-action="EmployeeDetail" asp-route-id="@item.Id">Detail</a> |
                        <a asp-action="EmployeeShifts" asp-route-id="@item.Id">Směny</a>
            </td>
        </tr>
}
    </tbody>
</table>
