﻿@{
    ViewBag.Title = "Role";
}

@model PageUniversalModel<IEnumerable<BP_AttendanceSystem_Lepine.Models.Db.Role>>

@{
    ViewBag.Title = "Seznam";
}
    <p>
    <a class="btn btn-outline-success" href="#" onclick="openModal(null)">Přidat</a>
</p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Data.First().Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data.First().RoleName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoleName)
                    </td>
                    <td>
                        <a class="btn btn-outline-secondary" href="#" onclick="openModal({name: '@item.RoleName', id: @item.Id})">Upravit</a> |
                        <a class="btn btn-outline-danger" href="#" @if (((IEnumerable<int>)ViewBag.RolesToSkip).Any(rId => rId == item.Id)) { Write("hidden"); } onclick="removeRole(@item.Id)">Smazat</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="modal fade" id="addEditModal" tabindex="-1" aria-labelledby="addEditModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addEditModalLabel">--NAME--</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <input type="hidden" id="id" value="" />
                        <div class="mb-3">
                            <label for="name" class="col-form-label">Název</label>
                            <input type="text" class="form-control" id="name">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zavřít</button>
                    <button type="button" class="btn btn-primary" onclick="saveRole()">Uložit</button>
                </div>
            </div>
        </div>
    </div>

@section Scripts {
    <script>
        let myModal = new bootstrap.Modal(document.getElementById('addEditModal'));
        function openModal(obj) {
            if(obj === null) {
                $("#addEditModalLabel").text("Přidat roli");
            } else {
                $("#name").val(obj.name);
                $("#id").val(obj.id);
                $("#addEditModalLabel").text("Upravit roli");
            }
            myModal.show();
        }

        function removeRole(id) {
            $.post("./Remove", {
                id
            }).then(res => {
                console.log(res);
                location.reload();
            }).fail(err => {
                window.alert(err.responseJSON?.message);
                console.error(err);
            });
        }

        function saveRole() {
            $.post("./Save", {
                roleName: $("#name").val(),
                id: $("#id").val()
            }).then(res => {
                console.log(res);
                location.reload();
                //myModal.hide();
            }).fail(err => {
                window.alert(err.responseJSON?.message);
                console.error(err);
            });
        }
    </script>
}
