﻿@model PageUniversalModel<IEnumerable<BP_AttendanceSystem_Lepine.Models.Db.Shift>>
@{
    ViewBag.Title = "Home Page";
}


<h2>Můj přehled směn</h2>

@if (Model.HasMessage()) {
    <div class="alert @Model.Color">
        @Model.Message
    </div>
}

<form method="get">
    <div class="row m-4">
        <div class="col-md-4">
            <input type="month" name="month" value="@ViewBag.Month.Date.ToString("yyyy-MM")" class="form-control" />
        </div>
        <div class="col-md-4">
            <button class="btn btn-outline-primary">Filtrovat</button>
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Datum
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.First().Arrival)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.First().Departure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.First().ArrivalDevice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.First().DepartureDevice)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data) {
            <tr>
                <td>
                    @item.GetDate()
                </td>
                <td>
                    @item.GetArrivalTime()
                </td>
                <td>
                    @item.GetDepartureTime()
                </td>
                <td>
                    @item.ArrivalDevice?.Description
                </td>
                <td>
                    @item.DepartureDevice?.Description
                </td>
            </tr>
        }
    </tbody>
</table>

