<script type="text/javascript">
    RED.nodes.registerType('on-scan',{
        category: 'Card reader',
        color: '#a6bbcf',
        defaults: {
            name: {value:""}
        },
        inputs:0,
        outputs:1,
        icon: "card.png",
        label: function() {
            return this.name||"onScan";
        }
    });
</script>

<script type="text/html" data-template-name="on-scan">
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
</script>

<script type="text/html" data-help-name="on-scan">
    <p>A node for sending when a nfc device is scanned.</p>
</script>